body {
    background-color: white;
    color: rgb(42, 42, 42);
    line-height: 175%;
}

em {
    color:fuchsia;
    font-weight: 700;
}

h2 {
    font-weight: 700;
}

strong {
    color: red;
    font-weight: 700;
}

table {
    border: 1px solid black;
}

th {
    background-color: #d1d1d1;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

strong > a:link, strong > a:hover, strong > a:visited {
    color: red;
    text-decoration: underline;
}

em > a:link, em > a:hover, em > a:visited {
    color:fuchsia;
    text-decoration: underline;
}

h1 > a:link, h1 > a:hover, h1 > a:visited {
    color: black;
    font-size: smaller;
    text-decoration: underline;
}
