/* Color scheme courtesy of Flat UI Colors: https://flatuicolors.com/palette/defo */

:root {
    --union-background-color: #ecf0f1;
    --union-bug-color: #c0392b;
    --union-code-color: #2980b9;
    --union-issue-color: #8e44ad;
    --union-table-header: #95a5a6;
    --union-table-row: #bdc3c7;
    --union-text-color: #2e3440;
}

a, a:link, a:hover, a:active, a:visited {
    color: inherit;
    text-decoration: underline;
}

body {
    background-color: var(--union-background-color);
    color: var(--union-text-color);
    line-height: 175%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

strong {
    color: var(--union-bug-color);
    font-weight: 900;
}

em {
    color: var(--union-issue-color);
    font-weight: 700;
}

code {
    color: var(--union-code-color);
    font-weight: 700;
}

table, th, td {
    border: 1px solid var(--union-text-color) !important;
    border-collapse: collapse;
}

th {
    background-color: var(--union-table-header);
}

tr:nth-child(even) {
    background-color: var(--union-table-row);
}
